
<style>
	.padding-20 									{padding: 20px};
	.padding-top-10 				 			    {padding-top: 20px;}
	.padding-top-20 				 			    {padding-top: 20px;}
	.padding-top-30 				 			    {padding-top: 30px;}	
	.padding-top-40 				 			    {padding-top: 40px;}	
	.padding-top-50 				 			    {padding-top: 50px;}
	.padding-right-10 				 			    {padding-right: 10px;}
	.padding-right-50 				 			    {padding-right: 50px;}
	.text-size-time-2								{font-size: 2em;}
	.theme-header-{{colorTheme}} 	 				{background-color: {{color.color1}} ;} 	
	.theme-content-{{colorTheme}} 	 				{background-color: {{color.color2}} ;} 	 	
	.theme-header-text-{{colorTheme}} 	 			{color: {{color.color3}} ;} 
	.toggle-theme-{{colorTheme}} input:checked + .track {
	    background-color:{{color.color1}};
	    border-color:{{color.color3}};
	}			  
	
</style>

<div class="card" >
		
	<div class="item item-text-wrap theme-content-{{colorTheme}}">		
		<div class="bar bar-header theme-header-{{colorTheme}}">
		  <h1 class="title theme-header-text-{{colorTheme}}">{{title}}</h1>		 
		</div>
		<div class="row padding-top-40" >
			<div class="col col-10 padding-right-20">
				<i class="text-size-time-2 icon {{icon}}"></i>
			</div>
			<div class="col col-40">
				<div>
					<h2>{{content}}</h2>
				</div>		  
			 	
			</div>				
			<div class="col col-40" >
				<label class="toggle toggle-theme-{{colorTheme}}" ng-click="sendCarNotification()">
  					<input type="checkbox">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>	
			</div>	
			<div class="col col-10" slide-toggle="#id-{{$id}}">
				<i class="text-size-time-2 icon {{changeActiveIcon('slideDownInfo') ? 'ion-ios-more' : 'ion-ios-more-outline'}}" ></i>
			</div>
		</div>	
	
	</div>

	<!-- INFO: $id is the unique scope id provided by $rootScope for every child scope -->
	<div>
		<div id="id-{{$id}}" class="slideable">
			<div class="padding-20">				
		        <p>Her vil det komme informasjon tilbake til appen...</p>
		        <div ng-if="title !== 'MAP'">
			        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
			        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			    </div>
			    <div ng-if="title === 'MAP'">
					<div>
						<img src="img/google-map.jpg" width="100%">
					</div>	
			    </div>    
		        <small>Pål Olsen</small>
		    </div>    
	    </div>	
	</div>	
</div>	



	<!--
		<article>
		    <h1 slide-toggle="#id-{{$id}}" >Click here for Hipster Ipsum.</h1>
		    <div id="id-{{$id}}" class="slideable">
		        <p>Bespoke aesthetic Bushwick craft beer. Qui aesthetic butcher, cardigan ex scenester Neutra American Apparel mumblecore.</p>
		        <p>Ethical adipisicing before they sold out, sriracha Thundercats cardigan dolor deep v placeat. Flannel tattooed meggings direct trade banh mi tousled sriracha. Portland VHS ut dreamcatcher. Butcher eu irony, Banksy leggings eiusmod Pinterest hashtag Etsy asymmetrical lo-fi Helvetica quis incididunt adipisicing. YOLO cliche minim mlkshk dreamcatcher excepteur, Austin McSweeney's.</p>
		        <p>Coded @ Kinfolk Studios in Williamsburg, Brooklyn, 2013.</p>
		    </div>
		    <p>Your fresh artisinal Ipsum will appear above this paragraph. </p>
		</article>
		-->